<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ordercolorgrid" translate="label" sortOrder="10">
            <label>Order Grid Colors</label>
        </tab>
        <section id="orderstatusmanagement" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Grid Colors</label>
            <tab>ordercolorgrid</tab>
            <resource>SR_ModifiedSalesOrderGrid::config_addbutton</resource>
			<group id="color" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Order Grid Colors</label>
			<field id="fields" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Color Selector</label>
				<frontend_model>SR\ModifiedSalesOrderGrid\Block\Adminhtml\Form\Field\DynamicFields</frontend_model>
				<backend_model>SR\ModifiedSalesOrderGrid\Config\Backend\DynamicFields</backend_model>
			</field>
		</group>
        </section>
    </system>
</config>