/* order grid color css */
tr#row_orderstatusmanagement_color_fields td.label {
    display: none;
}
tr#row_orderstatusmanagement_color_fields td.value {
    width: 100%;
}
tr#row_orderstatusmanagement_color_fields>td:last-child {
    display: none;
}